@charset "UTF-8";

@font-face {
  font-family: "SF Pro Display Regular";
  font-weight: normal;
  font-style: normal;
  src: url("./SF-Pro.woff2") format("woff2"),
    url("./SF-Pro.woff") format("woff"),
    url("./SF-Pro.ttf") format("truetype"),
    url("./SF-Pro.eot") format("embedded-opentype");
}